node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
cucumber-report.html
assets
report/features
@rerun.txt
index.html
.vscode
helper/util/test-data/registerUser.json
helper/env/.env.dev
helper/env/.env.test